<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HelpApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/help"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelpApp"
        tools:targetApi="31">

        <!-- Splash -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Home / Menu -->
        <activity
            android:name=".ui.home.MenuActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Project -->
        <activity
            android:name=".ui.project.NewProjectActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.project.CircuitInputActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Schedule -->
        <activity
            android:name=".ui.schedule.LoadScheduleActivity"
            android:screenOrientation="landscape"
            android:exported="false" />

        <!-- Config -->
        <activity
            android:name=".ui.schedule.config.ChangeMainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.schedule.config.ChangeFeederWireActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.schedule.config.ChangePipeSizeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.schedule.config.ChangePvcActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- About -->
        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
